body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f3f3;
}

.title {
    text-align: center;
    margin: 64px 0 4px;
    color: #333;
}

.tagline {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    margin: 0 0 64px;
}

.app-links {
    padding: 64px 0 0;
    max-width: 480px;
    margin: 0 auto;
}

.app-link {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    margin: 16px auto;
    padding: 16px;
    text-decoration: none;
    color: #333;
    transition: box-shadow .4s;
}

.app-link:hover {
    box-shadow: 1px 1px 24px #ccc;
}

.app-link img {
    width: 48px;
    margin-right: 16px;
}

.app-link__name {
    margin: 4px 0 4px;
    font-size: 1.6em;
    font-weight: 600;
}

.app-link__description {
    margin: 0;
    /* font-style: italic; */
}

.footer {
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 15px;
    color: #666;
    max-width: 640px;
    margin: 78px auto 32px;
    padding: 12px 0;
}

.footer p {
    margin: 3px 0;
}

.footer a {
    color: #333;
}

.footer__space {
    margin: 0 4px;
}